<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 648.29871 612.98956">
  <!-- Province: Alajuela -->
  <g id="CR-A" title="Alajuela">
    <path d="m 243.33363,26.900858 13.39,7.81 ..." (click)="handleProvinceClick('Alajuela')" />
  </g>

  <!-- Province: Cartago -->
  <g id="CR-C" title="Cartago">
    <path d="m 383.60363,206.02086 24.84,13.29 ..." (click)="handleProvinceClick('Cartago')" />
  </g>

  <!-- Province: Guanacaste -->
  <g id="CR-G" title="Guanacaste">
    <path d="m 7.4136294,70.270858 0.61,1.29 ..." (click)="handleProvinceClick('Guanacaste')" />
  </g>

  <!-- Province: Heredia -->
  <g id="CR-H" title="Heredia">
    <path d="m 369.00363,83.940858 1.54,2.45 ..." (click)="handleProvinceClick('Heredia')" />
  </g>

  <!-- Province: Limón -->
  <g id="CR-L" title="Limón">
    <path d="m 446.82363,71.210858 1.38,5.79 ..." (click)="handleProvinceClick('Limón')" />
  </g>

  <!-- Province: Puntarenas -->
  <g id="CR-P" title="Puntarenas">
    <path d="m 393.32363,482.60086 -1.1,0.11 ..." (click)="handleProvinceClick('Puntarenas')" />
  </g>

  <!-- Province: San José -->
  <g id="CR-SJ" title="San José">
    <path d="m 383.60363,206.02086 1.66,4.17 ..." (click)="handleProvinceClick('San José')" />
  </g>
</svg>
