<body>

<!-- Banner Image and Form Section -->
<section>
  <div>
    <!-- Text on the left -->
    <img class= "banner" src="assets/running.jpg" >

  </div>
</section>

<!-- Calendario Section -->
<section class="calendario">
  <h2>Calendario</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam nonummy eirmod tempor invidunt ut labore et dolore magna.</p>
  <button class="btn-ver-mas">Ver más</button>
</section>

<!-- Registro Section -->
<section class="registro">
  <h2>Registro</h2>
  <p>Elige tu tipo de registro</p>
  <div class="registro-opciones">
    <div class="opcion">
      <h3>Voluntario</h3>
      <button class="btn-registro" (click)="navigateTo('volunteer-form')">Registrarse como voluntario</button>
    </div>
    <div class="opcion">
      <h3>Atleta</h3>
      <button class="btn-registro" (click)="navigateTo('athlete-form')">Registrarse como atleta</button>
    </div>
  </div>
</section>

<!-- Soporte Section -->
<section class="soporte">
  <h2>Soporte</h2>
  <p>¿Tienes alguna pregunta? Contáctanos para obtener más información.</p>
  <button class="btn-soporte">Obtener soporte</button>


</section>

</body>
