<body>
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<!-- Banner Image and Form Section -->
<section>
  <div>
    <img class="banner" src="assets/running.jpg" alt="Banner">
  </div>
</section>

<!-- Registro Section -->
<section class="registro">
  <h2>Registro</h2>
  <p>Elige tu tipo de registro</p>
  <div class="registro-opciones">
    <div class="opcion">
      <h3>Voluntario</h3>
      <button class="btn-registro" (click)="navigateTo('volunteer-form')">Registrarse como voluntario</button>
    </div>
    <div class="opcion">
      <h3>Atleta</h3>
      <button class="btn-registro" (click)="navigateTo('athlete-form')">Registrarse como atleta</button>
    </div>
  </div>
</section>

<!-- Calendario Section -->
<section class="calendario">
  <h2>Calendario</h2>
  <section class="calendar-container">
    <div class="calendar-header">
      <button (click)="prevMonth()" class="calendar-nav">&#10094;</button>
      <div class="calendar-title">{{ monthName }} {{ currentYear }}</div>
      <button (click)="nextMonth()" class="calendar-nav">&#10095;</button>
    </div>
    <div class="calendar-body">
      <div class="calendar-days">
        <div class="day" *ngFor="let day of daysOfWeek">{{ day }}</div>
      </div>
      <div class="calendar-grid">
        <div class="calendar-date" *ngFor="let day of calendarDays" [class.today]="day.isToday" [class.other-month]="!day.isCurrentMonth" (click)="selectDate(day.date)">
          {{ day.date.getDate() }}
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Soporte Section -->
<section class="soporte">
  <h2>Soporte</h2>
  <p>¿Tienes alguna pregunta? Contáctanos para obtener más información.</p>
  <button class="btn-soporte" (click)="navigateTo('soporte')">Obtener soporte</button>
</section>
</body>
