<body>   
    <header>
      <div class="header-content">
        <img src="assets/logo.jpg" alt="Logo" class="logo">
        <!-- Saludo personalizado -->
      </div>
    </header>
  
    <!-- Header that changes based on registration type -->
    <div class="header-container" *ngIf="formService.currentStep === 2">
      <h2 class="header-form">
        Hola {{ formService.getFormData().name }},
        {{ isVolunteer ? 'Gracias por ofrecerte como voluntario' : '¿A qué deporte te quieres inscribir?' }}
      </h2>
    </div>
  
    <!-- Form section -->
    <div class="container">
      <form #volunteerForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- Step 1: Personal Information, same for both athlete and volunteer -->
        <div *ngIf="formService.currentStep === 1" class="section">
          <h2>Información Personal</h2>
          <div class="form-group">
            <app-form></app-form>  <!-- Reuse the FormComponent for both -->
          </div>
        </div>
  
        <!-- Step 2: Specific information for volunteer -->
        <div *ngIf="isVolunteer && formService.currentStep === 2" class="section">
          <h2>Información Adicional para Voluntarios</h2>
  
          <!-- Days of availability with checkboxes -->
          <div class="checkbox-group">
            <label for="days">Días de Disponibilidad</label>
            <div *ngFor="let day of availableDays">
              <input type="checkbox" [value]="day.id" (change)="onDayChange(day.id, $event)">
              <label>{{ day.day_name }}</label>
          
              <!-- Display hours only if the day is selected -->
              <div *ngIf="selectedDays.includes(day.id)" class="hours-selection">
                <label>Horas de Disponibilidad para {{ day.day_name }}</label>
                <div *ngFor="let time of availableTimes">
                  <input type="checkbox" [value]="time.id" (change)="onTimeChange(day.id, time.id, $event)">
                  <label>{{ time.hour }}:{{ time.minutes }}</label>
                </div>
              </div>
            </div>
          </div>

          <!-- Submit button here, only in the second step -->
          <div class="button-group">
            <div>
            <button  class="btn-secondary" type="button" (click)="previousStep()">Anterior</button>
            </div>
            <div>
              <button  type="submit" [disabled]="!volunteerForm.form.valid">Enviar</button>
            </div>
            </div>          
        </div>
      </form>
    </div>
  </body>
