html, body {
  height: 200%;
  margin: 50;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3b1b1;
}

form {
  background-color: #b22222;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  color: white;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  margin: 200px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 24px;
}

input[type="text"], input[type="email"], input[type="date"], select {
  background-color: white;
  color: #333;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label input {
  margin-right: 10px;
  vertical-align: middle;
}

.form-group {
  margin-bottom: 20px;
}

button {
  background-color: #ffffff;
  color: #b22222;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffcccc;
}

.error {
  color: white;
  font-size: 12px;
}

fieldset {
  margin-bottom: 20px;
  border: none;
}
