.athletism-form {
  background-color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.athletism-form h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #b22222;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-athletism-form {
  background-color: #b22222;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-athletism-form:hover {
  background-color: #a51d1d;
}
