<form (ngSubmit)="onSubmit()" #personForm="ngForm" novalidate>
  <div>
    <label for="name">Identificación:</label>
    <input type="text" id="identification" name="identification" [(ngModel)]="person.identification" #identification="ngModel" required pattern="^\d{9,}$">
    <div *ngIf="identification.invalid && identification.touched">
      <small class="error" *ngIf="identification.errors?.['required']">La identificación es requerida.</small>
      <small class="error" *ngIf="identification.errors?.['pattern']">La identificación debe tener al menos 9 dígitos.</small>
    </div>
  </div>
  <div>
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" [(ngModel)]="person.name" #name="ngModel" required pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$">
    <div *ngIf="name.invalid && name.touched">
      <small class="error" *ngIf="name.errors?.['required']">El nombre es requerido.</small>
      <small class="error" *ngIf="name.errors?.['pattern']">El nombre solo puede contener letras.</small>
    </div>
  </div>
  <div>
    <label for="birthdate">Fecha de nacimiento:</label>
    <input type="date" id="birthdate" name="birthdate" [(ngModel)]="person.birthdate" #birthdate="ngModel" required [min]="minDate" [max]="maxDate" (input)="validateBirthdate()">
    <div *ngIf="birthdate.invalid && birthdate.touched || invalidDate">
      <small class="error" *ngIf="birthdate.errors?.['required']">La fecha de nacimiento es requerida.</small>
      <small class="error" *ngIf="invalidDate">La fecha de nacimiento debe estar entre {{ minDate }} y {{ maxDate }}.</small>
    </div>
  </div>   
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="person.email" #email="ngModel" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
    <div *ngIf="email.invalid && email.touched">
      <small class="error" *ngIf="email.errors?.['required']">El correo es requerido.</small>
      <small class="error" *ngIf="email.errors?.['pattern']">Correo inválido'.</small>
    </div>
  </div>  
  <div>
    <label for="phone_number">Número de teléfono:</label>
    <input type="text" id="phone_number" name="phone_number" [(ngModel)]="person.phone_number" #phone_number="ngModel" required pattern="^[0-9]{8,10}$">
    <div *ngIf="phone_number.invalid && phone_number.touched">
      <small class="error" *ngIf="phone_number.errors?.['required']">El número de teléfono es requerido.</small>
      <small class="error" *ngIf="phone_number.errors?.['pattern']">Número de teléfono inválido.</small>
    </div>
  </div>
  <div>
    <label for="nationality">Nacionalidad:</label>
    <input type="text" id="nationality" name="nationality" [(ngModel)]="person.nationality" #nationality="ngModel" required pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$">
    <div *ngIf="nationality.invalid && nationality.touched">
      <small class="error" *ngIf="nationality.errors?.['required']">La nacionalidad es requerida.</small>
      <small class="error" *ngIf="nationality.errors?.['pattern']">La nacionalidad no puede contener números.</small>
    </div>
  </div>
  <div>
    <label for="region">Región:</label>
    <select id="region" name="region" [(ngModel)]="person.region" #region="ngModel" required>
      <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
    </select>
    <div *ngIf="region.invalid && region.touched">
      <small class="error" *ngIf="region.errors?.['required']">La región es requerida.</small>
    </div>
  </div>
  <button type="submit" [disabled]="!personForm.form.valid">Enviar</button>
</form>
