/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 800px;
  margin: 80px auto; /* Centers content with margin from header */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
header {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

header img {
  max-height: 60px;
  margin-right: 10px;
  vertical-align: middle;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  color: #b22222;
}

/* Form Elements */
h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
  color: #555;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Darker shadow on focus */
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #b22222;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a51d1d;
}

button:disabled {
  background-color: #ccc;
}

.btn-secondary {
  background-color: #ccc;
  color: black;
}

.btn-secondary:hover {
  background-color: #b3b3b3;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .button-group {
    flex-direction: column;
  }

  .button-group button {
    width: 100%;
    margin-bottom: 10px;
  }
}
.error {
  color: red;
  font-size: 12px;
}
