<body>
<header>
  <h1>Registro de Atleta</h1>
  <img src="assets/logo.jpg" alt="Logo" fill>
</header>

<div class="container">
  <form #athleteForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Step 1: Personal Information -->
    <div *ngIf="formService.currentStep === 1" class="section">
      <h2>Información Personal</h2>
      <div class="form-group">
        <app-form></app-form>
      </div>
    </div>

    <!-- Step 2: Athletic Information -->
    <div *ngIf="formService.currentStep === 2" class="section">
      <!-- Saludo personalizado -->
      <h2>Hola {{ formService.getFormData().name }}, ¿A qué deporte te quieres inscribir?</h2>

      <!-- Mostrar el selector de deportes cuando los datos estén cargados -->
      <label for="sport">Deporte:</label>
      <select #sportComboBox id="sport" name="sport" required (change)="onSportChange($event)">
        <option value="" disabled selected>Seleccione un deporte</option>
      </select>

      <!-- Mostrar un mensaje de error si no se selecciona un deporte -->
      <div *ngIf="selectedSport === null">
        <small class="error">El deporte es requerido.</small>
      </div>


      <!-- Mostrar el deporte seleccionado -->
      <div *ngIf="selectedSport">
        Has seleccionado: {{ selectedSport.name }}
      </div>

      <div class="button-group">
        <button type="button" (click)="previousStep()">Anterior</button>
        <button type="submit" [disabled]="!athleteForm.form.valid">Enviar</button>
      </div>
    </div>
  </form>
</div>
</body>
