<head>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<form (ngSubmit)="onSubmit()" #athleteForm="ngForm" novalidate>
  <!-- Step 1: Personal Information -->
  <div *ngIf="currentStep === 1">
    <app-form></app-form>
    <button type="button" (click)="nextStep()">Siguiente</button>
  </div>
  <!-- Step 2: Athletic Information -->
  <div *ngIf="currentStep === 2">
    <div>
      <label for="sport">Deporte:</label>
      <select id="sport" name="sport" [(ngModel)]="athlete.sport" #sport="ngModel" required>
        <option *ngFor="let sport of sports" [ngValue]="sport">{{ sport.name }}</option>
      </select>
      <div *ngIf="sport.invalid && sport.touched">
        <small class="error" *ngIf="sport.errors?.['required']">El deporte es requerido.</small>
      </div>
    </div>
    <div>
      <label for="sportLevel">Nivel Deportivo:</label>
      <select id="sportLevel" name="sportLevel" [(ngModel)]="athlete.sportLevel" #sportLevel="ngModel" required>
        <option *ngFor="let level of sportLevels" [ngValue]="level">{{ level.description }}</option>
      </select>
      <div *ngIf="sportLevel.invalid && sportLevel.touched">
        <small class="error" *ngIf="sportLevel.errors?.['required']">El nivel deportivo es requerido.</small>
      </div>
    </div>
    <div>
      <label for="laterality">Lateralidad:</label>
      <select id="laterality" name="laterality" [(ngModel)]="athlete.laterality" #laterality="ngModel" required>
        <option value="right">Diestro</option>
        <option value="left">Zurdo</option>
        <option value="ambidextrous">Ambidiestro</option>
      </select>
      <div *ngIf="laterality.invalid && laterality.touched">
        <small class="error" *ngIf="laterality.errors?.['required']">La lateralidad es requerida.</small>
      </div>
    </div>
    <div>
      <label for="disabilityType">Tipo de Discapacidad (opcional):</label>
      <input type="text" id="disabilityType" name="disabilityType" [(ngModel)]="athlete.disabilityType" #disabilityType="ngModel">
    </div>
    <div>
      <label for="weight">Peso (kg):</label>
      <input type="number" id="weight" name="weight" [(ngModel)]="athlete.weight" #weight="ngModel" required>
      <div *ngIf="weight.invalid && weight.touched">
        <small class="error" *ngIf="weight.errors?.['required']">El peso es requerido.</small>
      </div>
    </div>
    <div>
      <label for="height">Altura (cm):</label>
      <input type="number" id="height" name="height" [(ngModel)]="athlete.height" #height="ngModel" required>
      <div *ngIf="height.invalid && height.touched">
        <small class="error" *ngIf="height.errors?.['required']">La altura es requerida.</small>
      </div>
    </div>

    <button type="button" (click)="previousStep()">Anterior</button>
    <button type="submit" [disabled]="!athleteForm.form.valid">Enviar</button>
  </div>
</form>

</body>
