html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c3b1b1;
  }
  
  form {
    background-color: #b22222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    color: white;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 100px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="text"], input[type="email"], input[type="date"], select {
    background-color: white;
    color: #333;
  }
  
  button {
    background-color: #ffffff;
    color: #b22222;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffcccc;
  }
  
  .error {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  