<head>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<div>
  <header>
    <div class="left">
      <p>
        <!-- div a la izquierda-->
      </p>
    </div>
    <div class="img">
      <img src="assets/logo.jpg" alt="Logo" class="logo" height="303" width="990" (click)="navigateTo('')">
    </div>
    <!-- Enlace directo a la página de soporte -->
    <div class="help">
      <a class="help-text" (click)="navigateTo('soporte')">¿Necesitas ayuda?</a>
    </div>
  </header>
</div>

<div> <p>     </p></div>
